Robots Terminados/N8N/Rellenar Stock.json
{
  "name": "Rellenar Stock",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "978b905a-45a2-4f89-a2f9-a450968b4db7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date();\n// Restamos un día para obtener la fecha de ayer\nconst ayer = new Date(hoy);\nayer.setDate(hoy.getDate() - 1);\n\n// Formateamos la fecha como YYYY-MM-DD (ej: 2026-06-30)\nconst año = ayer.getFullYear();\nconst mes = String(ayer.getMonth() + 1).padStart(2, '0');\nconst dia = String(ayer.getDate()).padStart(2, '0');\n\nconst nombreArchivo = `${año}-${mes}-${dia}.xlsx`;\n\nreturn { nombre_excel: nombreArchivo };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "57dd468a-42e2-4f46-a81b-6a801399cfea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fileSelector": "=/files/{{ $json.nombre_excel }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "90881360-68c0-407c-82b7-e00ecb625a1a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "1eca3ebb-b43d-438f-a20d-3ca712e77ec9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inventario_oficina \nSET stock = stock + {{ $json[\"cantidad a comprar\"] }} \nWHERE id = '{{ $json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        0
      ],
      "id": "fa0a5c78-438d-4e02-8b15-0ba538782ef4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "BjaZppFbKW7ug3U0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aff8194e-afd7-4854-ba78-77a88c4cf963",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "COMPRADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "af5ef79c-09f3-459a-a6fc-02ac19ca05ad",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "086c747f-160a-4295-ada4-115807203b72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "189c6fe7ce293e0d1b74249adc7a87526258201a04bca6dd6180cdae613d3607"
  },
  "id": "7IV1qgm3dpRWGEDd",
  "tags": []
}