Robots Terminados/N8N/Rellenar Stock NUBE.json
{
  "name": "Rellenar Stock NUBE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        0
      ],
      "id": "d6b824fe-ec68-4a89-a2f9-cd4e30f6ab98",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date();\n// Restamos un día para obtener la fecha de ayer\nconst ayer = new Date(hoy);\nayer.setDate(hoy.getDate() - 1);\n\n// Formateamos la fecha como YYYY-MM-DD (ej: 2026-06-30)\nconst año = ayer.getFullYear();\nconst mes = String(ayer.getMonth() + 1).padStart(2, '0');\nconst dia = String(ayer.getDate()).padStart(2, '0');\n\nconst nombreArchivo = `${año}-${mes}-${dia}.xlsx`;\n\nreturn { nombre_excel: nombreArchivo };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "aa045d40-342e-4c00-9f26-6b0eef027225",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "3c714acb-ba39-4773-a429-6623ed4d1cf2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inventario_oficina \nSET stock = stock + {{ $json[\"cantidad a comprar\"] }}, en_transito = false\nWHERE id = '{{ $json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        0
      ],
      "id": "aa6c28f0-217f-4d9e-9905-d33153f92b89",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "BjaZppFbKW7ug3U0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aff8194e-afd7-4854-ba78-77a88c4cf963",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "COMPRADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "7fd47465-17ff-4a31-af8c-77f93e756f7d",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        0
      ],
      "id": "55f9a3ba-486e-4e30-9848-495a667779fc",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "GGrHGmNepTfWrD0P",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "queryString": "={{ $json.nombre_excel }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "1d3fc23d-b80a-4794-9316-0e3877ef2ca9",
      "name": "Search files and folders",
      "credentials": {
        "googleApi": {
          "id": "GGrHGmNepTfWrD0P",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "de66c07a-29c1-4318-bd7b-5423006a8d3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "189c6fe7ce293e0d1b74249adc7a87526258201a04bca6dd6180cdae613d3607"
  },
  "id": "gEtsFP2u7SpL7CV6",
  "tags": []
}